xml2/xml22.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="faculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="specialization">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="TIME" type="xs:string"/>
              <xs:element name="PAGES" type="xs:string"/>
              <xs:element name="PASSING" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>